@charset 'utf-8';
@import url('common.css');


/* 
css => *{font-size=16px}
html =>
    폰트 사이즈 rem단위 사용(html 기준으로 곱하기)
    폰트 사이즈 em단위 자제(상위 기준으로 곱하기) 

ex) <div style="font-sixe:24px">
    <p>폰트사이즈 2em (상위요소 24*2=>48)</p>
    <p>폰트사이즈 2rem (최상위요소[html] 16*2=32)</p>
*/

body{ background: none;}


/* main1 */

.main1{
    position: relative; left: 0; top: 101px; width: 100%;
    height: 680px; overflow: hidden; z-index: 5;
}
.main1 article div { 
    display: inline-block; position: absolute; right: 20%; top: 37%; z-index: 30; text-align: end;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.main1 article div h1{  color: white; font-size: 70px; font-family: 'InkLipquid'; line-height: 1.1;}
.main1 article div h1 b{  color: #57b3ff; font-size: 70px; font-family: 'InkLipquid'; line-height: 1.1;}
.main1 article div p{color: #dbdbdb; margin-top: 20px; white-space: pre-line; line-height: 1.5; font-size: 18px; font-family: 'Chosunilbo_myungjo';}
.main1 article div p b{color: #57b3ff; margin-top: 20px; white-space: pre-line; line-height: 1.5; font-size: 18px; font-family: 'Chosunilbo_myungjo';}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;  font-style: normal;
}
.main1 article figure::after{
    content:''; font-size: 0;    position: absolute; 
    z-index:31; left: 0; top: 0;    width: 100%;  height: 100%; background-color: rgba(0,0,0,0.5);
}






/* mapnav */


.mapnav{
    width: 80%; height: 60px; background-color: #005bb5; border-radius: 30px;
    background: linear-gradient( to right, #0088e7, #005bb5);
    position: absolute; left: 50%; top: 750px; transform: translate(-50%, 0); z-index: 6;
}
.mapnav ul{ display: flex; align-items: center; justify-content: space-between;}
.mapnav ul li{
    background-color: white; width: 50%; margin: 6px 7px;
    padding: 10px 25px;  text-align: center;  border-radius: 30px;
}
.mapnav ul li:nth-child(1){margin-left: 12px;}
.mapnav ul li:last-child{margin-right: 20px;}
.mapnav ul > li:nth-child(4){ background-color: #005bb5; width: 0;}
.mapnav ul > li h1{ color: #005bb5; font-size: 18px;}
.mapnav ul li span img{  width: 20px;  transform: translate(-45%, 0);
}






/* main2 */


.main2{ left: 0; top: 0; margin-top: 101px; width: 100%; height: 530px;}
.main2::after{ content: ''; display: block; clear: both;}

/* left */
.left{
    width: 40%; left: 0; top: 0; margin-top: 363px; padding-left: 5%;
    float: left; box-sizing: border-box;
}
.left h2{ font-size: 22px; font-family: 'Chosunilbo_myungjo';}
.left h2 b{ font-size: 22px; color: #0088e7; font-family: 'Chosunilbo_myungjo';}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.left p{ font-size: 15px; white-space: pre-line; color: #999999;}

/* right */
.right{display: none;}
.autoplay{
    width: 60%; float: right; margin: 105px 0;
    display: flex; align-items: center; justify-content: flex-start; flex-wrap: nowrap;
    position: relative; right: 0; overflow: hidden;}
.autoplay figure{
    width: 220px; height: 360px; margin: 0 15px;
}
.autoplay figure > p{ margin-bottom: 17px; width:100%; height: 300px; box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
    box-sizing: border-box; border-radius: 10px; overflow: hidden;}
.autoplay figure p img{ width: 100%;
    height: 100%; vertical-align: top; object-fit: cover; transform: translate(0, 0); }
.autoplay figure figcaption h1{ font-size: 16px; margin-bottom: 5px;}
.autoplay figure figcaption p{ font-size: 13px; line-height: 1.2; color: #999;}

.arrow{display: none;}




/* main3 */


.main3{ position: relative; left: 0; top: 0; width: 100%; height: 430px;}
.main3 figure{ min-height: 100%; background: url('../img/3-photo1.jpg') fixed; background-size: cover; background-position-x: 50%;}


.main3 article{ position: absolute; left: 50%; top: 50px;  transform: translate(-50%, 40%);
    text-align: center; line-height: 30px; z-index: 4;}
.main3 article h2{ color: white; font-size: 24px;  font-family: 'Chosunilbo_myungjo'; 
    text-shadow: 3px 3px 5px rgba(0,0,0,0.3); margin-bottom: 6px;
}
.main3 article h3{display: none;}
.main3 article a{display: none;}
.main3 article span{ color: rgba(250, 250, 250, 0.7); font-size: 15px; margin-top: 20px;}


/* 메인3 아이콘 전체 */
.main3 .icon{ width: 100%; left: 0; top: 0;
    display: flex; justify-content: flex-start;  align-items: flex-start; position: absolute;}
.main3 .icon ul{
    left: 0; top: 0;  width: 25%;  height: 430px;
    background-color: rgba(0,0,0,0.2);}
.main3 .icon ul:nth-child(2n){ background-color: rgba(0,0,0,0.25);}
.main3 .icon ul{ text-align: center; left: 0; top: 0; position: relative;}
.main3 .icon ul li{ position: absolute; left: 50%; top: 50%;}
.main3 .icon ul li a{ opacity: 70%;}

/* 메인3 아이콘 */
.main3 .icon ul li a img{
    transform: translate(-50%, 90%); width: 40px;
}
/* 메인3 텍스트 */
.main3 .icon ul li:nth-child(3) a{
    width: 150px;    color: white;
    position: absolute; transform: translate(-50%, 420%);
}
.main3 .icon ul:nth-child(1) li a img{width: 62px; transform: translate(-50%, 100%);}
.main3 .icon ul:nth-child(2) li a img{width: 50px; transform: translate(-50%, 120%)}
.main3 .icon ul:nth-child(3) li a img{transform: translate(-50%, 110%)}

/* 메인3 자세히 */
.main3 .icon ul li:nth-child(4) a{
    width: 100px; padding: 1px; border: 1px solid white;
    font-size: 12px; color: white; opacity: 70%;
    position: absolute; transform: translate(-50%, 650%);
    display: none;
}

/* main3 hover */
.main3 .icon ul:hover{ transition: 0.8s; background-color: rgba(0,0,0,0.4);}
.main3 .icon ul:hover > li{ transition: 0.8s; left:50%; top: 40%;}
.main3 .icon ul:hover li a{ transition: 0.8s; opacity: 100%;}
.main3 .icon ul:hover > li:nth-child(4) a{ transition: 0.8s; display: block;}




/* main4 */
.main4m{display: none;}

.main4{ width: 60%; margin: 100px auto; }
.tap{ display: flex; align-items: flex-start; justify-content: space-between;}
.tap div span{ display: inline-block; padding: 0 10px 10px 0; font-size: 18px; font-weight: bold; color: #777;}
.tap a{ font-size: 14px; color: #999;}

.news{ width: 100%; }

/* 타이틀 */
.newTitle{ padding: 20px; position: relative; margin: 0; color: #777; font-weight: 500;
    transition: ease-in-out 0.2s all; cursor: pointer; 
}
.item:nth-of-type(1){ border-top: 2px solid #dbdbdb;}
.newTitle:hover{ padding-left: 25px;}
.newTitle::before, .newTitle::after{
    content: ''; position: absolute; height: 2px;  border-radius: 50px;
    transition: ease-in-out 0.6s all; bottom: 0; left: 0;
    display: flex; justify-content: center; align-items: center;
}
.newTitle::before {  width: 100%;  background-color: #dbdbdb;}
.newTitle::after{ background-image: linear-gradient(90deg, #0088e7, #dbdbdb); width: 0%;}
.newTitle:hover::after{width: 100%;}

.newTitle.active{ font-size: 18px; color: #333; font-weight: bold;}
.newTitle.active::after{
    content: ''; position: absolute; height: 2px;  border-radius: 50px;
    transition: ease-in-out 0.6s all; bottom: 0; left: 0;
    display: flex; justify-content: center; align-items: center;
    background-image: linear-gradient(90deg, #0088e7, #c9d6df);  width: 100%;
}

/* 아이콘 */
.acoIcon{ float: right; width: 30px; height: 30px; margin-top: -3px;
    display: flex;  align-items: center; justify-content: center;
}
.acoIcon::before, .acoIcon::after{ content:''; position: absolute;  background-color: #dbdbdb;
    transition: ease 0.3s all;
}
.acoIcon::before { width: 2px; height: 15px; }
.acoIcon::after { width: 15px; height: 2px; }

.newTitle:hover .acoIcon::before, .newTitle:hover .acoIcon::after{ background-color: #0088e7; }
.acoIcon.ani.acoIcon:before{ transform: rotate(90deg); }

/* 내용 */
.newTxt small{ font-size: 12px; color: #999; display: block; padding-bottom: 10px;}
.newTxt{
    opacity: 0; height: 0; padding: 0px 20px; font-size: 15px;
    position: relative; transition: all 0.6s cubic-bezier(.42,.2,.08,1);
    overflow: hidden;
}
/* 화살표 */
.newTxt > a{ float: right; transform: translate(-50%, 400%);}
.newTxt > a > span{ display: flex; justify-content: center; align-items: center; flex-direction: column;
    box-sizing: border-box; border: 0.2px solid rgb(183, 183, 183); transition: .5s;
}
.newTxt > a > span:nth-child(1){width: 10px; transform: rotate(40deg) translate(20px, -6px);}
.newTxt > a > span:nth-child(2){width: 30px; transform: translateY(10px);}

.newTxt:hover > a > span{ border: 0.2px solid #555; }
.newTxt:hover > a > span:nth-child(1){transform: rotate(40deg) translate(43px, -26px)}
.newTxt:hover > a > span:nth-child(2){width: 50px; transform: translate(10px, 10px);}

.newTxt.show{   opacity: 1;
    height: auto; padding: 25px 20px; position: relative;
    z-index: 0; border-radius: 0px 0px 3px 3px;
    background-color: rgba(0, 136, 231, 0.05);
}




/* main5 */
.main5{ left: 0; top: 0; margin-top: 101px; width: 100%; height: 200px;}
.oncon > div{ display: flex; align-items: flex-start; justify-content: space-between;}
.oncon > div a{ position: relative; width: 100%;}

.oncon div a > p{
    position: absolute; left: 50%; top: 50%; font-size: 18px; color: white;
    z-index: 4; transform: translate(-50%, -50%);
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5); font-family: 'Chosunilbo_myungjo';
}

.oncon div a div{  z-index: 3;}
.oncon div a div span{
    position: absolute; display: inline-block;
    width: 100%; height: 100px; background-color: rgba(0,0,0,0.5); font-size: 0;}
.oncon div a div p{ width: 100%; height: 100px; overflow: hidden;}
.oncon div a div p img{ width: 100%; height: 100%; vertical-align: top; object-fit: cover;}
.oncon div a:hover div span{
    transition: 0.5s; background-color: rgba(0,0,0,0.2); z-index: 2;
}
.onlinetitle{display: none;}

/* footer */
.footer{margin-top: 0;}





@media (max-width:1046px){
    body{position: relative;}
    .header{    height: 85px; left: 0; top: 0; background-color: rgba( 255, 255, 255, 0 );
        border-bottom: none; margin: 0; padding: 0px;
        width: 100%;  position: absolute; z-index: 10;}
    .head{display: none;}
    header:hover::after{ display: none; }

    /* .mhead */
    .mhead{display: block; width: 80%; margin: 0 auto; }
    .mhead ul{width: 100%; display: flex; align-items: center; justify-content: space-between; margin-top: 30px;}
    .mhead ul li{ display: flex; align-items: center; justify-content: space-between;}
    
    .mhead ul li:nth-child(1){width: 100px;}
    .mhead ul li:nth-child(1) a img{width: 100%;}

    .mhead ul li:nth-child(2){width: 24px;}
    .mhead ul li:nth-child(2) a{width: 20px; z-index: 20;}
    .mhead ul li:nth-child(2) a img{width: 100%;}

    .bgmenu{ position: fixed; width: 50%; height: 100%; right: 0; top: 0; background-color: rgba(255, 255, 255);
        display: flex; align-items: flex-start; justify-content: flex-start; flex-direction: column;
        z-index: 10; transform: translateX(100%); transition: .5s; box-shadow: -10px 0 10px rgba(0, 0, 0, 0.05);
    }
    .bgmenu > div{ width: 80%; transform: translateY(20%); border-top: 2px solid #e3e3e3;}
    .bgmenu div > div{width: 100%; margin: 0px 0; line-height: 1.5; margin: 30px 0;}
    .bgmenu div div > h2{ font-size: 20px; margin: 5px 0;}
    .bgmenu div div > a p{ color: #999; font-size: 17px;}
    .bgmenu div > p{width: 40%; position: fixed; right: 0; bottom: 0; transform: translateY(250px);}
    .bgmenu div > p img{width: 100%;}

    .bgmenu.active{transform: translateX(0);}
    .active div > a p:hover{color: #0088e7;}

    /* main1 시장 사진 움직임 */
    .main1{ 
        position: relative; left: 0; top: 0; width: 100%; 
        height: 800px; overflow: hidden; z-index: 1; border-radius: 0 0 0 30px;
    }
    .main1 article > figure p img{ width: 100%; height: 800px;  vertical-align: top; object-fit: cover;}
    .main1 article div{ width: 100%; text-align: start; left: 15%; top: 40%; }

    .main1 article div h1{  color: white; font-size: 60px; font-family: 'InkLipquid'; line-height: 1.1; }
    .main1 article div h1 b{  color: #57b3ff; font-size: 60px; font-family: 'InkLipquid'; line-height: 1.1;}
    .main1 article div p{color: #dbdbdb; margin-top: 20px; white-space: pre-line; line-height: 1.5; font-size: 18px; font-family: 'Chosunilbo_myungjo';}
    .main1 article div p b{color: #57b3ff; margin-top: 20px; white-space: pre-line; line-height: 1.5; font-size: 18px; font-family: 'Chosunilbo_myungjo';}
    .main1 article > p{display: none;}
    .main1 article figure ul li {display: none;}

    .main1 article figure::after{
        content:'';
        font-size: 0;  
        position: absolute; 
        z-index:31;
        left: 0; top: 0;   
        width: 100%;  height: 200%; background-color: rgba(0,0,0,0.5);
    }
    .slick-track p{width: 100%; }
    .slick-track p img {width: 100%; height: 800px; transform: translate(-30.15%, 200px); object-fit: cover;}

    .mapnav{display: none;}


    /* main2 시장 여러개 보기 */
    .main2{ left: 0; top: 0; margin-top: 0; width: 100%; height: 200px; position: relative; 
    }
    .main2::after{clear: none;}
    /* left */
    .left{ display: none;}
    /* right */
    .right{ display: flex; overflow: hidden;
        width: 85%; margin: 40px 0; top: -235px; right: 0; z-index: 2; 
        position: absolute; background-color: white; padding: 20px 10px;
        border-radius: 15px 0 15px 0; overflow-x: scroll; -ms-overflow-style: none;
    }
    .right::-webkit-scrollbar{display: none;}
    
    .right figure{ width: 180px; height: 350px; margin: 0 15px; margin: 0 10px; 
    }
    .right figure > p{ margin-bottom: 17px; width:100%; height: 270px; box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
        box-sizing: border-box; border-radius: 10px; overflow: hidden; }
    .right figure p img{  height: 100%; vertical-align: top; object-fit: cover; transform: translate(-17%, 0); }
    .right figure figcaption h1{ font-size: 16px; margin-bottom: 5px;}
    .right figure figcaption p{ font-size: 13px; line-height: 1.2; color: #999;}
    .right div{ display: none;}

    .arrow{display: block; width: 100px; height: 100px;
        position: absolute; left: 40px; top: -90px; z-index: 50;
        display: flex; align-items: flex-start; justify-content: flex-start;
        animation: scroll 1.2s infinite;
    }
    .arrow div:nth-child(2){transform: translateX(-30%);}
    .arrow div:nth-child(3){transform: translateX(-60%);}
    .arrow div span{ display: block; border: 1px solid white; width: 15px;}
    .arrow div span:nth-child(1){ transform: rotate(-45deg) translateY(-350%);}
    .arrow div span:nth-child(2){ transform: rotate(45deg) translateY(350%);}
    @keyframes scroll {
        0%{ transform: translateX(15%);}
        100%{transform: translateX(-5px); opacity: 0;}
    }
    .autoplay.slick-slider{display: none;}


    /* main3 온누리상품권 */

    .main3{ position: relative; left: 0; top: 0; width: 100%; height: 200px; background: #f6f6f6; margin-top: 20px;}
    .main3 figure{ display: none;}

    .main3 article{ position: inherit; left: 0; top: 0;  transform: translate(0, 0);
        text-align: start; line-height: 0; z-index: 4; width: 90%; margin: 0 auto;
        padding-top: 50px; 
        display: flex; align-items: baseline; justify-content: space-between;
    }
    .main3 article h2{ display: none;}
    .main3 article span{display: none;}
    .main3 article h3{display: block; font-size: 22px;}
    .main3 article a{display: block; color: #999999;}

    /* 메인3 아이콘 전체 */
    .main3 .icon{ width: 90%; left: 0; top: 0;  margin: 35px auto;
        display: flex; justify-content: space-between;  align-items: flex-start; flex-wrap: wrap; position: inherit;}
    .main3 .icon ul{  background-color: rgba(0,0,0,0.5);
        background: url('../img/3-photo2.jpg') fixed; background-size: cover; background-position-x: 50%;
        left: 0; top: 0;  width: 45%;  height: 80px;
    }
    .main3 .icon ul:nth-child(2n){ background-color: rgba(0,0,0,0.5);}
    .main3 .icon ul{ text-align: center; left: 0; top: 0; position: relative; width: 24%; margin-bottom: 10px;}
    .main3 .icon ul li{ position: inherit; left: 0; top: 0; transform: translate(0, 0);
    }
    .main3 .icon ul li a{ opacity: 100%;}

    /* 메인3 아이콘 */
    .main3 .icon ul li a img{display: none;}
    /* 메인3 텍스트 */
    .main3 .icon ul li:nth-child(3) a{ display: block; font-size: 18px;
        width: 100%;  height: 80px; color: white; background-color: rgba(0,0,0,0.2);
        position: inherit; transform: translate(0,0);  padding: 30px 0; box-sizing: border-box;
    }

    /* main3 hover */
    .main3 .icon ul:hover{ transition: none; background-color: rgba(0,0,0,0.5);}
    .main3 .icon ul:hover > li{ transition: none; left:0; top: 0;}
    .main3 .icon ul:hover li a{ transition: none; opacity: 100%;}
    .main3 .icon ul:hover > li:nth-child(4) a{ transition: none; display: none;}
    .main3 .icon ul li:nth-child(3):hover a{background-color: rgba(0,0,0,0.5)}



    
    /* main4 전통시장 소식*/
    .main4{display: none; }
    .main4m{ display: block; left: 0; top: 0; width: 100%; height: 400px; margin: 0 auto; margin-top: 60px; overflow-x: hidden;}

    /* 상단탭 */
    .tapm{width: 90%; margin: 0 auto; margin-bottom: 15px;
        display: flex; align-items: baseline; justify-content: space-between; margin-bottom: 25px;}
    .tapm div h3{display: block; font-size: 22px;}
    .tapm > a{font-size: 16px; color: #999;}
    .tapm > a:hover{ color: #999;  border-bottom: none; font-weight: unset;}


    /* 컨텐츠 */

    .newsm{position: relative;}


    .newsm figure > p{ width: 100%; height: 327px; border-radius: 0 0 30px 0; overflow: hidden;}
    .newsm figure > p img{ width: 100%; height: 100%; object-fit: cover; vertical-align: top; }


    .newsm figure a{
        width: 60%; max-width: 600px;  height: 160px; margin: 0; padding: 20px 30px;
        position: absolute; left: 0; top: 32%; width: 80%;  background-color: rgba(255, 255, 255);
        border-radius: 0 30px 0 0;
    }

    .newsm figure a h2{  margin: 10px 0; font-size: 20px; color: #333;}
    .newsm figure a h3{ color: #0088e7; font-size: 15px;}
    .newsm figure a p{ font-size: 15px; line-height: 1.3; color: #999;}

    .main4m.swiper-container{ position: relative;}
    .swiper-pagination.swiper-pagination-progressbar{ position: absolute; left: 0; bottom: 0; transform: translateY(396px); background: #ececec;}
    .swiper-pagination.swiper-pagination-progressbar span{ background: #2ea0f1;}

    



    /* main5 온라인장보기 */
    .main5{ left: 0; top: 0; margin-top: 60px; width: 100%; height: 320px; background-color: #f6f6f6; padding-top: 50px; overflow: hidden;}
    .oncon {display: flex; align-items: flex-start; justify-content: flex-start; width: 95%; margin-left: 5%;
        overflow-x: scroll; -ms-overflow-style: none;
    }
    .oncon::-webkit-scrollbar{display: none;}
    .oncon div{ display: flex; align-items: flex-start; justify-content: flex-start;}
    .oncon div a{ position: relative; margin: 0 20px 0 0;}
    .oncon div a > p{
        position: inherit; left: 0; top: 0; font-size: 16px; color: #333;
        transform: translate(0, 0); text-shadow: 0 0 0 rgba(0,0,0,0); font-family: none; padding: 10px 0 0 10px;
    }

    .oncon div a div{ height: 100%;  z-index: 3;}
    .oncon div a div span{display: none;}
    .oncon div a div p{ width: 190px; height: 200px; border-radius: 15px; overflow: hidden; box-shadow: 3px 3px 7px rgba(0,0,0,0.2)}
    .oncon div a div p img{ width: 100%; height: 100%; vertical-align: top; object-fit: cover;}
    .oncon div a:hover div span{
        transition: none; background-color: rgba(0,0,0,0); z-index: 2;
    }

    .onlinetitle{display: block; width: 90%; margin: 0 auto; 
        display: flex; align-items: baseline; justify-content: space-between; margin-bottom: 20px; }
    .onlinetitle h3{display: block; font-size: 22px;}
    .onlinetitle a{display: block; color: #999999;}

    .main5 div a:hover > p{color: #0088e7;}


    /* footer */
    .footer{ left: 0; top: 0;
        width: 100%; height: 110px; background-color: rgb(255,255, 255);}
    .footer > div{ width: 100%; left: 0; top: 0; margin: 0 auto; padding-top: 20px;
        display: inherit; align-items: flex-start; justify-content: space-between;}

    /* logo */
    .logo{  width: 25%; min-width: 250px; margin: 0 auto; display: flex; align-items: center; justify-content: space-between; margin-bottom: 5px;}
    .logo p{ margin: 6px;}
    .logo p img{ width: 100%;}

    /* 안내 */
    .text{  width: 80%; margin: 0 auto; display: flex; justify-content: center; align-items: center; flex-direction: column;}
    .text li{ margin: 0; font-size: 12px; color: #999;}
    .text > li:nth-child(1) a{ font-size: 12px; padding: 0 10px; color: #999;}
    .text > li  small{ font-size: 11px; color: #c6c6c6;}

    /* sns */
    .sns{ display: none;}
}



@media (max-width:600px){

    .header{height: 65px;}

    /* .mhead */
    .mhead{width: 80%;}
    .mhead ul{margin-top: 30px;}
    .mhead ul li:nth-child(1){width: 85px;}

    /* main1 사진움직이는 */
    .main1 article div{ left: 15%; top: 43%; }
    .main1 article div h1{font-size: 50px;}
    .main1 article div h1 b{font-size: 50px;}
    .main1 article div p{font-size: 16px;}
    .main1 article div p b{font-size: 16px;}
    .slick-track p{width: 100%; }
    .slick-track p img {width: 100%; height: 800px; transform: translate(-30.15%, 155px); object-fit: cover;}


    /* main2 시장 여러개 보기 */
    .main2{ left: 0; top: 0; margin-top: 0; width: 100%; height: 150px;}
    .main2::after{ content: ''; display: block; clear: none;}

    /* left */
    .left{ width: 100%; left: 0; top: 0; margin-top: 60px; padding-left: 5%;
        float: none; text-align: center; display: none;}
    /* right */
    .right{
        width: 85%; float: none; margin: 40px 0; top: -235px; right: 0; z-index: 1;
        position: absolute; overflow: hidden; background-color: white; padding: 20px 10px;
        border-radius: 15px 0 15px 0; overflow-x: scroll;
    }
    .right figure{ width: 140px; height: 300px; margin: 0 10px; animation: none;}
    .right figure > p{ margin-bottom: 17px; width:100%; max-height: 220px; box-shadow: 3px 3px 7px rgba(0,0,0,0.2);
        box-sizing: border-box; border-radius: 10px; overflow: hidden; }
    .right figure p img{
        height: 100%; vertical-align: top; object-fit: cover; transform: translate(-17%, 0); }
    .right div{ display: none;}
    
    .arrow{left: 35px;}
    .arrow div:nth-child(3){display: none;}
    .arrow div span{ width: 10px;}
    .arrow div span:nth-child(1){ transform: rotate(-45deg) translateY(-220%);}
    .arrow div span:nth-child(2){ transform: rotate(45deg) translateY(220%);}

    /* main3 온누리상품권 */

    .main3{height: 290px; margin-top: 0px;}
    .main3 .icon ul{ width: 49%;}

    @keyframes scroll {
        0%{ transform: translateX(-20%);}
        100%{transform: translateX(-30%); opacity: 0;}
    }
    .bgmenu div > p{display: none;}

    .newsm figure a h2{ font-size:18px; margin: 2px 0 10px 0;}
    .newsm figure a h3{font-size:12px; }
    .newsm figure a p{ font-size: 14px;}

}