@charset 'utf-8';
@import url('common.css');


/* header */

.header{
    height: 100px; left: 0; top: 0; background-color: white;
    border-bottom: 1px solid lightgray; margin: 0; padding: 0px;
    width: 100%;  position: fixed; z-index: 10;
}
.head{
    position: relative;
    width: 80%; margin: 0 auto; margin-top: 25px;
    display: flex; align-items: flex-end; justify-content: space-between;}
.head h1{ width: 130px;}
.head h1 img{ width: 100%; left: 0; top: 0;}
.head nav{margin-top: 20px;}
.head nav ul{ display: flex;}
.head nav ul li{position: relative; z-index: 11;}
.head nav ul li > a{
    /* 각 li 안의 주메뉴 */
    font-size: 18px; padding: 15px 40px;}
.head nav ul li > div{
    /* 각 li 안의 서브메뉴 */
    position: absolute; transform: translateY(100%);  left: 0; bottom: 0;
    text-align: center; width: 100%; line-height: 1.8; padding: 30px 0;
    display: none;}
.head nav ul li > div a{ display: block;}
.head nav ul li:nth-child(1) > a{ background-color: #0088e7; color: white; }
.head nav ul li > a:hover{ background-color: #0088e7; color: white; }
header::after{
    content: ''; width: 100%; height: 130px;
    background-color: rgb(248, 248, 248); border-top: 1px solid lightgray;
    position: absolute; bottom: 0; left: 0; transform: translateY(100%);
    z-index: 10; display: none;}
.head nav:hover ul li > div{ display: block; }
header:hover::after{ display: block; }

.head select{  /* 언어선택 */
    font-size: 12px; color: #999999; width: 80px; border: none;
    right: 40px; top: 0; position: absolute;
}
.head nav ul li > div a:hover{color: #0088e7;}



/* menu */

.menu{ margin-top: 101px; border-top: 1px solid rgb(248, 248, 248);
    left: 0; top: 101px; width: 100%; height: 50px; background-color: rgb(248, 248, 248);}
.menu ul{ width: 80%; height: 100%; margin: 0 auto;}
.menu ul li{  width: 30%;  text-align: center; margin: 16.5px auto; transform: translateX(20%);}
.menu ul li a{ margin: 0 10px; color: #0088e7;}


/* title */
.title{
    left: 0; top: 101px; width: 80%; height: 70px; margin: 0 auto; padding: 50px 0 0 0;
    display: flex; align-items: center; justify-content: flex-start;
}
.title p{width: 20px; margin-right: 10px; }
.title p img{width: 100%; 
    transform-style: preserve-3d; perspective: 20px; animation: a3 2s infinite;
}
@keyframes a3 {
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(360deg);}
}
.title h2{ left: 0; top: 0; font-size: 22px; }



/* mapnav */
.mapnav{ 
    left: 0; top: 0; width: 80%; margin: 0 auto;
}
.mapnav ul{
    display: flex; align-items: center; justify-content: center;
}
.mapnav ul li{    border: 2px solid lightgray; border-left: none;
    width: 100%; padding: 10px 20px; box-sizing: border-box;
}
.mapnav ul li:nth-child(1){border-left: 2px solid lightgray;}
.mapnav ul li a{display: flex; align-items: center; justify-content: space-between;
    height: 25px; width: 100%;
}
.mapnav ul li a p img{ width: 20px;}


.mapnav .a{width: 15%;}
.mapnav .b{width: 15%;}
.mapnav .c{width: 48%;}
.mapnav .d{width: 8%; background-color: #0088e7; border: 2px solid #0088e7;}
.mapnav .e{width: 14%;}

.mapnav .d p{}
.mapnav .d p img{width: 20px;}
.mapnav .d div{color: white;}

.mapnav .e p{}
.mapnav .e img{width: 20px}
.mapnav .e:hover div{ color: #0088e7;}


/* popup */
.popup{ z-index: 2; position: absolute;
    left: 50%; top: 50%; transform: translateX(-50%);
    width: 380px; height: 200px; background-color: white;
    border: 1px solid #c6c6c6;  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);}
.popup > div{ left: 0; top: 0; transform: translateY(20%);  width: 100%; height: 70%;
    display: flex; align-items: center; justify-content: space-between; flex-direction: column;}
.popup > div figure{width: 30px;}
.popup > div figure img{width: 100%;}
.popup > div p{ text-align: center; font-size: 17px;}
.popup > div p b{font-size: 20px;}
.popup > div div input{width: 120px; padding: 5px 0; margin: 0 5px;
    border-radius: 5px; border: none;}
.popup > div div input:nth-child(1){ background-color: #0088e7; color: white;}
.popup > div div input:nth-child(2){ color: #999}



/* map */

.map{ opacity: 40%;
    width: 80%; margin: 0 auto; left: 0; top: 0; margin-top: 50px;
    display: flex; align-items: flex-start; justify-content: space-between;
}

.market{  width: 30%;}
.market p{}
.market p img{width: 100%;}

.market div{ margin: 30px 20px 0 20px;}
.market div h2{ margin-bottom: 10px; font-size: 20px;}
.market div small{white-space: pre-line; line-height: 1.5; color: #999;}

.guid{ position: relative; width: 63%;}
.guid div{}
.guid div img{width: 100%;}
.guid p{ position: absolute; left: 71%; top: 30%;}
.guid p img{ width: 60px;}











/* footer */
.footer{ margin-top: 100px; left: 0; top: 101px;
    width: 100%; height: 100px; background-color: rgb(248, 248, 248);}
.footer > div{ width: 80%; left: 0; top: 0; margin: 0 auto; padding-top: 35px;
    display: flex; align-items: flex-start; justify-content: space-between;}

/* logo */
.logo{  width: 20%; display: flex; align-items: center; justify-content: space-between;}
.logo p{ margin: 6px;}
.logo p img{ width: 100%;}

/* 안내 */
.text{  width: 60%; display: flex; justify-content: center; align-items: center; flex-direction: column;}
.text li{ margin: 2px 0; font-size: 13px; color: #999;}
.text > li:nth-child(1) a{ font-size: 13px; padding: 0 10px; color: #999;}
.text > li  small{ font-size: 11px; color: #c6c6c6;}

/* sns */
.sns{ width: 20%; left: 0; top: 0;}
.sns input{ float: left; width: 70%;}
.sns input::after{ content: ''; display: block; clear: both;}
.sns p{ float: right; width: 23%; height: 20px;
    display: flex; align-items: center; justify-content: space-between;}
.sns p a{ width: 23px;}
.sns p a img{ width: 100%;}